out
.gradle
.idea
bin
build
gradle
run
run-data
gradlew
gradlew.bat
src/generated/resources/.cache
jar
/src/main/resources/assets/expandedae/textures/item/base_card.png
/src/main/resources/assets/expandedae/textures/item/sticky_card_alternative.png
